<% if @category.color == "red" %>
  <div class="bg-red-300 container m-9">

<% elsif @category.color == "blue" %>
  <div class="bg-blue-400 container m-9">

<% elsif @category.color == "green" %>
  <div class="bg-green-400 container m-9">

<% end %>
    <h1 class="text-9xl"><%= @category.name %></h1><br>

    <div>
      <h1> Create new Task </h1>
      <%= link_to "New task", new_category_task_path(@category) %>
    </div><br>

    <h2>Add new Task</h2>
    <%= form_with model: [@category, @category.tasks.build ] do |f| %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>

      <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
      </p>

      <p>
        <%= f.submit %>
      </p>
    <% end %>

    <h2> Tasks </h2>
    <% @category.tasks.each do |t| %>
      <p>
        <strong>Titulo: </strong>
        <%= t.title %>
      </p>

      <p>
        <strong>Cuerpo de la tarea: </strong>
        <%= t.body %>
      </p>

    <% end %>
  </div>
