<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"></script>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <main class="container px-5 min-h-max min-w-full m-0">
      <%= yield %>

<script>
  // Agregar un evento click a los enlaces de categorías
  document.addEventListener("DOMContentLoaded", () => {
    const categoryLinks = document.querySelectorAll(".category-link");
    const categoryContent = document.getElementById("category-content");

    categoryLinks.forEach(link => {
      link.addEventListener("click", event => {
        event.preventDefault();
        const url = event.currentTarget.getAttribute("href");

        // Realizar una solicitud AJAX a la acción del controlador
        fetch(url)
          .then(response => response.text())
          .then(data => {
            // Actualizar el contenido de la columna de tareas
            categoryContent.innerHTML = data;
          });
      });
    });
  }); 
</script>
      
    </main>
  </body>
</html>
